Repository resolritter/starter-ts-react-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint_source, eslint_e2e, prettier, typecheck_source, typecheck_e2e

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint_source
        name: eslint_source
        language: system
        entry: yarn prefix:lint:source
        files: \.\w*(t|j)s$
        exclude: ^test\/
        args: ["--quiet"]
      - id: eslint_e2e
        name: eslint_e2e
        language: system
        entry: yarn prefix:lint:e2e
        files: ^test\/e2e\/.*\.\w*(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        language: node
        entry: node_modules/.bin/prettier
        files: \.(html|json)$
        args: ["--check"]
      - id: typecheck_source
        name: typecheck_source
        language: system
        entry: node_modules/.bin/tsc-files -p tsconfig.json --noEmit
        files: \.\w*ts$
        exclude: ^test\/
      - id: typecheck_e2e
        name: typecheck_e2e
        language: system
        entry: scripts/typecheck
        args: ["e2e"]
        files: ^test\/e2e\/.*\.\w*ts$

remove unused dep
  package.json
  yarn.lock
Due: prettier

refactor styles module
  src/constants.ts
  src/screens/Example.tsx
  src/screens/Home.tsx
  src/styles.ts
Due: eslint_source, typecheck_source

add measure normalization
  src/utils.ts
Due: eslint_source, typecheck_source

tweak measure normalization
  src/utils.ts
Due: eslint_source, typecheck_source

fix staged script
  scripts/staged
Due: none

fix typechecking
  package.json
  scripts/typecheck
Due: prettier

enable persistence
  package.json
  src/App.tsx
  src/store.ts
  src/store/counter.ts
  src/utils.ts
  yarn.lock
Due: eslint_source, prettier, typecheck_source

distributed
  src/App.tsx
  src/screens/Example.tsx
  src/store.ts
  src/store/counter.ts
  src/utils.ts
Due: eslint_source, typecheck_source

update packages and pin
  .yarnrc
  package.json
  yarn.lock
Due: prettier
